USE [master]
GO
/****** Object:  Database [DuAn]    Script Date: 24/11/2023 1:18:50 CH ******/
CREATE DATABASE [DuAn]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuAn]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[ID] [varchar](36) NOT NULL,
	[TenCL] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGG] [varchar](15) NOT NULL,
	[IDSPCT] [varchar](50) NULL,
	[Ten] [nvarchar](40) NULL,
	[GiaTri] [float] NULL,
	[NgayBatDau] [date] NULL,
	[NgayHetHan] [date] NULL,
	[GhiChu] [nvarchar](60) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHD] [varchar](50) NOT NULL,
	[MaNV] [varchar](30) NULL,
	[MaKH] [varchar](30) NULL,
	[MaHD] [varchar](30) NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [bit] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[ID] [varchar](50) NOT NULL,
	[IDHD] [varchar](50) NULL,
	[IDSPCT] [varchar](50) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
	[MaGG] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](30) NOT NULL,
	[HoTen] [nvarchar](40) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](60) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[ID] [varchar](36) NOT NULL,
	[TenMS] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](30) NOT NULL,
	[MaTK] [varchar](10) NULL,
	[HoTen] [nvarchar](40) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](60) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoai]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoai](
	[ID] [varchar](36) NOT NULL,
	[TenPL] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [varchar](36) NOT NULL,
	[MaSP] [varchar](15) NULL,
	[TenSP] [nvarchar](30) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamChiTiet]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamChiTiet](
	[ID] [varchar](50) NOT NULL,
	[IDSP] [varchar](36) NULL,
	[IDCL] [varchar](36) NULL,
	[IDPL] [varchar](36) NULL,
	[IDMS] [varchar](36) NULL,
	[IDTH] [varchar](36) NULL,
	[IDXX] [varchar](36) NULL,
	[KichThuoc] [varchar](15) NULL,
	[KhoiLuong] [float] NULL,
	[SoLuong] [int] NULL,
	[Gia] [float] NULL,
	[MoTa] [nvarchar](60) NULL,
	[Anh] [varchar](300) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](10) NOT NULL,
	[TenDangNhap] [varchar](20) NULL,
	[MatKhau] [varchar](20) NULL,
	[VaiTro] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[ID] [varchar](36) NOT NULL,
	[TenTH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 24/11/2023 1:18:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[ID] [varchar](36) NOT NULL,
	[TenXX] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatLieu] ([ID], [TenCL]) VALUES (N'CL001', N'Da')
INSERT [dbo].[ChatLieu] ([ID], [TenCL]) VALUES (N'CL002', N'Vải')
INSERT [dbo].[ChatLieu] ([ID], [TenCL]) VALUES (N'CL003', N'Cotton')
GO
INSERT [dbo].[GiamGia] ([MaGG], [IDSPCT], [Ten], [GiaTri], [NgayBatDau], [NgayHetHan], [GhiChu], [TrangThai]) VALUES (N'GG001', N'062A9EA2-94EC-4F6D-9E22-8AC3A345A3B5', N'giam 100k', 100000, CAST(N'2023-11-22' AS Date), CAST(N'2023-12-01' AS Date), N'123', 0)
INSERT [dbo].[GiamGia] ([MaGG], [IDSPCT], [Ten], [GiaTri], [NgayBatDau], [NgayHetHan], [GhiChu], [TrangThai]) VALUES (N'GG002', N'12881B68-1E1B-4A3B-9662-1C2B3046EAD4', N'giam 500k', 500000, CAST(N'2023-11-22' AS Date), CAST(N'2023-12-01' AS Date), N'123', 0)
INSERT [dbo].[GiamGia] ([MaGG], [IDSPCT], [Ten], [GiaTri], [NgayBatDau], [NgayHetHan], [GhiChu], [TrangThai]) VALUES (N'GG003', N'8022E438-AEF7-4997-ADDA-DA0BB143026D', N'giam 300k', 300000, CAST(N'2023-11-22' AS Date), CAST(N'2023-12-01' AS Date), N'123', 0)
GO
INSERT [dbo].[HoaDon] ([IDHD], [MaNV], [MaKH], [MaHD], [NgayTao], [TrangThai], [TongTien]) VALUES (N'1404BFF5-5756-4E47-BF2A-9CC69CC8373B', NULL, N'', N'ZHGR2', CAST(N'2023-11-22' AS Date), 0, NULL)
INSERT [dbo].[HoaDon] ([IDHD], [MaNV], [MaKH], [MaHD], [NgayTao], [TrangThai], [TongTien]) VALUES (N'226DFF88-CC53-4A52-9412-B161A3763D90', NULL, N'', N'20U0F', CAST(N'2023-11-23' AS Date), 0, NULL)
INSERT [dbo].[HoaDon] ([IDHD], [MaNV], [MaKH], [MaHD], [NgayTao], [TrangThai], [TongTien]) VALUES (N'2B67EF2B-141F-4ABA-A1E8-5EC85652A340', NULL, N'123', N'UPD99', CAST(N'2023-11-24' AS Date), 0, NULL)
GO
INSERT [dbo].[HoaDonChiTiet] ([ID], [IDHD], [IDSPCT], [SoLuong], [DonGia], [ThanhTien], [MaGG]) VALUES (N'9F896224-3CF3-4536-A163-8F0BB2245DC3', N'76493F5B-63F8-4F76-B946-A311D7F096E4', N'062A9EA2-94EC-4F6D-9E22-8AC3A345A3B5', 23, 123124144, 1599313920, N'GG001')
GO
INSERT [dbo].[MauSac] ([ID], [TenMS]) VALUES (N'MS001', N'Đỏ')
INSERT [dbo].[MauSac] ([ID], [TenMS]) VALUES (N'MS002', N'Đen')
INSERT [dbo].[MauSac] ([ID], [TenMS]) VALUES (N'MS003', N'Xám')
GO
INSERT [dbo].[PhanLoai] ([ID], [TenPL]) VALUES (N'PL001', N'Túi đeo chéo')
INSERT [dbo].[PhanLoai] ([ID], [TenPL]) VALUES (N'PL002', N'Túi đưa thư')
INSERT [dbo].[PhanLoai] ([ID], [TenPL]) VALUES (N'PL003', N'Túi Nilon')
GO
INSERT [dbo].[SanPham] ([ID], [MaSP], [TenSP], [TrangThai]) VALUES (N'6D6979AA-C69A-4CFF-A9DB-B6B6EA7A22C1', N'SP004', N'Túi đeo 2023', 0)
INSERT [dbo].[SanPham] ([ID], [MaSP], [TenSP], [TrangThai]) VALUES (N'CCCCF98A-7C44-4202-B935-369A0F001FDC', N'SP003', N'Túi nilon 2021', 0)
INSERT [dbo].[SanPham] ([ID], [MaSP], [TenSP], [TrangThai]) VALUES (N'D58B4070-1E31-441A-988B-3B3D00625EED', N'SP001', N'Túi đeo 2022', 0)
GO
INSERT [dbo].[SanPhamChiTiet] ([ID], [IDSP], [IDCL], [IDPL], [IDMS], [IDTH], [IDXX], [KichThuoc], [KhoiLuong], [SoLuong], [Gia], [MoTa], [Anh], [TrangThai]) VALUES (N'062A9EA2-94EC-4F6D-9E22-8AC3A345A3B5', N'D58B4070-1E31-441A-988B-3B3D00625EED', N'CL001', N'PL001', N'MS003', N'TH001', N'XX002', N'123123', 44, 100, 123124142, N'2222', N'1231', 0)
INSERT [dbo].[SanPhamChiTiet] ([ID], [IDSP], [IDCL], [IDPL], [IDMS], [IDTH], [IDXX], [KichThuoc], [KhoiLuong], [SoLuong], [Gia], [MoTa], [Anh], [TrangThai]) VALUES (N'0A963E19-5A38-4238-8999-8F2D3A32F34B', N'CCCCF98A-7C44-4202-B935-369A0F001FDC', N'CL003', N'PL002', N'MS001', N'TH001', N'XX001', N'123', 33, 4442, 22222222, N'221111LL', N'123', 0)
INSERT [dbo].[SanPhamChiTiet] ([ID], [IDSP], [IDCL], [IDPL], [IDMS], [IDTH], [IDXX], [KichThuoc], [KhoiLuong], [SoLuong], [Gia], [MoTa], [Anh], [TrangThai]) VALUES (N'12881B68-1E1B-4A3B-9662-1C2B3046EAD4', N'FDD627FF-C44E-452D-99EF-A3ACC4A962B5', N'CL002', N'PL001', N'MS002', N'TH002', N'XX003', N'123', 222, 200, 4444444, N'1111', N'123', 0)
GO
INSERT [dbo].[ThuongHieu] ([ID], [TenTH]) VALUES (N'TH001', N'Gucci')
INSERT [dbo].[ThuongHieu] ([ID], [TenTH]) VALUES (N'TH002', N'LuonVuiTuoi')
INSERT [dbo].[ThuongHieu] ([ID], [TenTH]) VALUES (N'TH003', N'Adidas')
GO
INSERT [dbo].[XuatXu] ([ID], [TenXX]) VALUES (N'MS004', N'Pháp')
INSERT [dbo].[XuatXu] ([ID], [TenXX]) VALUES (N'XX001', N'Việt Nam')
INSERT [dbo].[XuatXu] ([ID], [TenXX]) VALUES (N'XX002', N'Trung Quốc')
GO
ALTER TABLE [dbo].[ChatLieu] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (newid()) FOR [IDHD]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[MauSac] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[PhanLoai] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[SanPhamChiTiet] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ThuongHieu] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[XuatXu] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD FOREIGN KEY([IDSPCT])
REFERENCES [dbo].[SanPhamChiTiet] ([ID])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK1] FOREIGN KEY([IDHD])
REFERENCES [dbo].[HoaDon] ([IDHD])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK1]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([IDSPCT])
REFERENCES [dbo].[SanPhamChiTiet] ([ID])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([MaGG])
REFERENCES [dbo].[GiamGia] ([MaGG])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK3]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDCL])
REFERENCES [dbo].[ChatLieu] ([ID])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDMS])
REFERENCES [dbo].[MauSac] ([ID])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDPL])
REFERENCES [dbo].[PhanLoai] ([ID])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDSP])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDTH])
REFERENCES [dbo].[ThuongHieu] ([ID])
GO
ALTER TABLE [dbo].[SanPhamChiTiet]  WITH CHECK ADD FOREIGN KEY([IDXX])
REFERENCES [dbo].[XuatXu] ([ID])
GO
USE [master]
GO
